# Dependencies
node_modules/
.pnp
.pnp.js

# Expo & Build artifacts
.expo/
dist/
web-build/
expo-env.d.ts
*.apk
*.aab
*.ipa

# Native & Signing keys
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android

# Metro
.metro-health-check*

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS & Editor files
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/

# Environment variables & Secrets
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo
